<% layout ('layouts/boilerplate') %> 
   <div class="row">
       <div class="col-6 offset-3">
            <h1><%= detail.name %></h1>
    <ul>
        <li>Email: <%= detail.email%></li>
        <li>Number: <%= detail.number%></li>
    </ul>
    <div>
        <a class="btn btn-info" href="/details">Back</a>
        <a class="btn btn-warning" href="/details/<%=detail._id%>/edit">Edit Details</a>
        <form class="d-inline" action="/details/<%= detail._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger d-inline">Detele</button>
        </form>
    </div>
       </div>
   </div>